#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: true,
    browser_column_widths: [20, 38, 42],
    background_color: "#171719",
    modal_backdrop: true,
    text_color: "#ffffff",
    header_background_color: "#171719",
    modal_background_color: "#171719",
    preview_label_style: (fg: "#008000"),
    preview_metadata_group_style: (fg: "#008000"),
    tab_bar: (
        enabled: true,
        active_style: (fg: "#f4d26c", bg: "#8B0000", modifiers: "Bold"),
        inactive_style: (fg: "#ffffff", bg: "#171719", modifiers: ""),
    ),
    highlighted_item_style: (fg: "#f4d26c", modifiers: "Bold"),
    current_item_style: (fg: "#ffffff", bg: "#8B0000", modifiers: "Bold"),
    borders_style: (fg: "#8B0000", modifiers: "Bold"),
    highlight_border_style: (fg: "#8B0000"),
    symbols: (song: "󰝚 ", dir: " ", playlist: "󰲸 ", marker: "* ", ellipsis: "..."),
    progress_bar: (
        symbols: ["█", "█", "█", "█", "█"],
        track_style: (fg: "#ffffff"),
        elapsed_style: (fg: "#8B0000"),
        thumb_style: (fg: "#f4d26c"),
    ),
	cava: (
		// symbols that will be used to draw the bar in the visualiser, in ascending order of
		// fill fraction
		bar_symbols: ['▁', '▂', '▃', '▄', '▅', '▆', '▇', '█'],
		// similar to bar_symbols but these are used for the top-down rendering, meaning for orientation
		// "Horizontal" and "Top"
		inverted_bar_symbols: ['▔', '🮂', '🮃', '▀', '🮄', '🮅', '🮆', '█'],

		bg_color: "black", // background color, defaults to rmpc's bg color if not provided
		bar_width: 1, // width of a single bar in columns
		bar_spacing: 1, // free space between bars in columns

		// Possible values are "Top", "Bottom" and "Horizontal". Top makes the bars go from top to
		// bottom, "Bottom" is from bottom up, and "Horizontal" is split in the middle with bars going
		// both down and up from there.
		// Using non-default symbols with "Top" and "Horizontal" may produce undesired output.
		orientation: Bottom,

		// Colors can be configured in three different ways: a single color, different colors
		// per row and a gradient. You can use the same colors as everywhere else. Only specify
		// one of these:

		// Every bar symbol will be red
		bar_color: Single("#8B0000"),
	),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (fg: "#8B0000"),
        ends_style: (fg: "#ffffff"),
        thumb_style: (fg: "#ffffff"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Artist), style: (fg: "#ffffff"),
                default: (kind: Text("Unknown"), style: (fg: "#ffffff"))
            ),
            width: "20%",
        ),
        (
            prop: (kind: Property(Title), style: (fg: "#ffffff"),
                highlighted_item_style: (fg: "#ffffff", modifiers: "Bold"),
                default: (kind: Property(Filename), style: (fg: "#ffffff"),)
            ),
            width: "35%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "#ffffff"),
                default: (kind: Text("Unknown Album"), style: (fg: "#ffffff"))
            ),
            width: "30%",
        ),
        (
            prop: (kind: Property(Duration), style: (fg: "#ffffff"),
                default: (kind: Text("-"))
            ),
            width: "15%",
            alignment: Right,
        ),
    ],
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "3",
                pane: Pane(Tabs),
            ),
            (
                size: "4",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "100%",
                            pane: Split(
                                direction: Vertical,
                                panes: [
                                    (
                                        size: "4",
                                        borders: "ALL",
                                        pane: Pane(Header),
                                    ),
                                ]
                            )
                        ),
                    ]
                ),
            ),
            (
                size: "100%",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "100%",
                            borders: "NONE",
                            pane: Pane(TabContent),
                        ),
                    ]
                ),
            ),
            (
                size: "3",
                borders: "TOP | BOTTOM",
                pane: Pane(ProgressBar),
            ),
        ],
    ),
    header: (
        rows: [
            (
                left: [
                    (kind: Text(""), style: (fg: "#8b0000", modifiers: "Bold")),
                    (kind: Property(Status(StateV2(
						playing_label: "  ", paused_label: "  ", stopped_label: "  ",
						playing_style: (fg: "#f4d26c", modifiers: "Bold"), 
						paused_style: (fg: "#f4d26c", modifiers: "Bold"),
						stop_style: (fg: "#f4d26c", modifiers: "Bold"),
						)))),
                    (kind: Text(" "), style: (fg: "#8b0000", modifiers: "Bold")),
                    (kind: Property(Widget(ScanStatus)))

                ],
                center: [
                    (kind: Property(Song(Title)), style: (fg: "#f4d26c",modifiers: "Bold"),
                        default: (kind: Property(Song(Filename)), style: (fg: "#f4d26c",modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Text(""), style: (fg: "#ffffff", modifiers: "Bold")),
                    (kind: Property(Status(Volume)), style: (fg: "#ffffff", modifiers: "Bold")),
                    (kind: Text("%"), style: (fg: "#ffffff", modifiers: "Bold"))
                ]
            ),
            (
                left: [
                    (kind: Text("[ "),style: (fg: "#8b0000", modifiers: "Bold")),
                    (kind: Property(Status(Elapsed)),style: (fg: "#ffffff")),
                    (kind: Text(" / "),style: (fg: "#8b0000", modifiers: "Bold")),
                    (kind: Property(Status(Duration)),style: (fg: "#ffffff")),
                    (kind: Text(" | "),style: (fg: "#8b0000")),
                    (kind: Property(Status(Bitrate)),style: (fg: "#ffffff")),
                    (kind: Text(" kbps"),style: (fg: "#ffffff")),
                    (kind: Text("]"),style: (fg: "#8b0000", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "#ffffff", modifiers: "Bold"),
                        default: (kind: Text("Unknown Artist"), style: (fg: "#ffffff", modifiers: "Bold"))
                    ),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Album)),style: (fg: "#ffffff" ),
                        default: (kind: Text("Unknown Album"), style: (fg: "#ffffff", modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Text("[ "),style: (fg: "#8b0000")),
                    (kind: Property(Status(RepeatV2(
                                    on_label: "", off_label: "",
                                    on_style: (fg: "#f4d26c", modifiers: "Bold"), off_style: (fg: "#f4d26c", modifiers: "Bold"))))),
                    (kind: Text(" | "),style: (fg: "#8b0000")),
                    (kind: Property(Status(RandomV2(
                                    on_label: "", off_label: "",
                                    on_style: (fg: "#f4d26c", modifiers: "Bold"), off_style: (fg: "#f4d26c", modifiers: "Bold"))))),
                    (kind: Text(" | "),style: (fg: "#8b0000")),
                    (kind: Property(Status(ConsumeV2(
                                    on_label: "󰮯", off_label: "󰮯", oneshot_label: "󰮯󰇊",
                                    on_style: (fg: "#f4d26c", modifiers: "Bold"), off_style: (fg: "#f4d26c", modifiers: "Bold"))))),
                    (kind: Text(" | "),style: (fg: "#8b0000")),
                    (kind: Property(Status(SingleV2(
                                    on_label: "󰎤", off_label: "󰎦", oneshot_label: "󰇊", off_oneshot_label: "󱅊",
                                    on_style: (fg: "#f4d26c", modifiers: "Bold"), off_style: (fg: "#f4d26c", modifiers: "Bold"))))),
                    (kind: Text(" ]"),style: (fg: "#8b0000")),
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                    (kind: Property(Track)),
                    (kind: Text(" ")),
                ])
        ),
        (
            kind: Group([
                    (kind: Property(Artist)),
                    (kind: Text(" - ")),
                    (kind: Property(Title)),
                ]),
            default: (kind: Property(Filename))
        ),
    ],
)
